@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenido {
    border-radius: 1rem;
    margin: 1px auto;
    width: 80%;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    padding: 5rem;
}

.contenido {
    &__formulario {
        .label {
            color: v.$negro;
            font-weight: bold;
            font-size: 3rem;
        }
        .tipotexto{
            width: 100%;
            padding: 1rem;
            margin-bottom: 1rem;
            
        }
        .tipotexto:focus{
            outline: solid black 1.1px;
        }
    
    }
}


.boton {
    display: flex;
    justify-content: flex-end;
    &__submit {
        margin-top: 1.1rem;
        display: flex;
        justify-content: flex-end;
        background-color: #c2fbd7;
        border-radius: 10px;
        box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
        color: green;
        cursor: pointer;
        font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
        padding: 7px 20px;
        text-align: center;
        text-decoration: none;
        transition: all 250ms;
        border: 0;
        font-size: 16px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }
    &__submit:hover {
        box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
        transform: scale(1.05) rotate(-1deg);
    }
}